
* {
    margin: 0;
    padding: 0
}

body {
    font-family: Arial;
    font-size: 12px;
    line-height: 13px;
    background-color: #000;
}

a {
    color: #000;
    text-decoration: none
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #000
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #ddd;
    padding: 5px
}

input[type=submit] h1,
h2,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0 0 15px
}

h3 {
    color: #202021;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    line-height: 13px
}

h2 {
    font-size: 25px;
    line-height: 30px
}

img {
    max-width: 100%;
    height: auto
}

.alignleft {
    float: left;
    margin-left: 0px
}

.aligncenter {
    display: block;
    margin: 10px auto
}

.alignright {
    float: right;
    margin-left: 10px
}

.floatleft {
    float: left
}

.floatright {
    float: right
}

.center {
    width: 980px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    transition: all 1.3s ease 0s;
    -moz-transition: all 1.3s ease 0s;
    -webkit-transition: all 1.3s ease 0s;
    -o-transition: all 1.3s ease 0s;
    -ms-transition: all 1.3s ease 0s
}

div {
    overflow: hidden
}

.slider {
    height: 350px;
    overflow: visible
}

.bxslider,
.bx-viewport,
.bx-controls,
.bx-pager,
.bx-controls-direction {
    overflow: visible
}

#selectnav1 {
    display: none
}

#selectnav2 {
    display: none
}

#nav {
    display: block
}

#f_menu {
    display: block
}

.maindiv {
    background: url("images/body_bg.png") repeat;
    margin-top: 30px;
    margin-bottom: 30px
}

.header {}

.logo {
    margin-top: 20px
}

.topmenu {
    margin-left: 60px;
    margin-top: 60px;
    width: 330px
}

.topmenu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0
}

.topmenu ul li {
    float: left;
    border-right: 2px solid #000
}

.topmenu ul li:last-child {
    border-right: none
}

.topmenu ul li a {
    color: #CF0000;
    display: block;
    font-size: 12px;
    padding: 0 11px;
    line-height: 12px
}

.topmenu ul li a:hover {
    text-decoration: underline
}

.social_plus_search {
    margin-bottom: 20px
}

.social {
    width: 250px;
    margin: 20px 0px 10px 0px
}

.social ul {
    list-style: none outside none;
    margin: 0;
    padding: 0
}

.social ul li {
    float: left;
    margin-right: 7px
}

.social ul li a {
    display: block;
    padding: 12px 13px
}

.twitter {
    background: url("images/social_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
}

.facebook {
    background: url("images/social_icons.png") no-repeat scroll -37px 0px rgba(0, 0, 0, 0)
}

.feed {
    background: url("images/social_icons.png") no-repeat scroll -73px 0px rgba(0, 0, 0, 0)
}

.search {}

.search #search_form {}

.search #s {
    width: 87%
}

.search #searchform {
    background: url("images/search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 28px;
    margin-left: -4px;
    text-indent: -99999px;
    width: 13%
}

.main_menu_area {
    overflow: visible;
    background: #0D0E0F;
    min-height: 50px
}

.main_menu_area ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.main_menu_area ul li {
    float: left;
    position: relative
}

.main_menu_area ul li a {
    color: #FFF;
    display: block;
    font-family: 'bebasregular';
    font-size: 15px;
    padding: 18px 18.7px
}

.main_menu_area ul li a:hover {
    background: #CF0000
}

#nav li ul {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s
}

/* dropdown css level one*/
.main_menu_area ul li ul {
    background: none repeat scroll 0 0 #0D0E0F;
    top: 100px;
    position: absolute;
    width: 215px;
    z-index: 99999;
    right: -99999px
}

.main_menu_area ul li ul li {
    float: none;
    position: relative
}

.main_menu_area ul>li:hover>ul {
    left: 0px;
    top: 49px
}

.main_menu_area ul li ul li a {
    font-family: arial;
    font-weight: bold
}

.main_menu_area ul li ul li a:hover {}

/* dropdown css level two*/
.main_menu_area ul li ul li ul {
    background: none repeat scroll 0 0 #0D0E0F;
    right: 215px;
    position: absolute;
    width: 215px;
    z-index: 99999;
    right: -99999px
}

.main_menu_area ul li ul li ul li {
    float: none
}

.main_menu_area ul li ul li:hover ul {
    left: 215px !important;
    top: 0px
}

.main_menu_area ul li ul li ul li a {
    font-family: arial;
    font-weight: bold
}

.slider_area,
.slider {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.slider * {
    margin: 0;
    padding: 0;
}

.slider img {
    max-width: 100%;
}

.slider1 {
    width: 670px
}

.slider2 {
    width: 250px
}

.content_area {
    margin-top: 25px
}

.main_content {
    width: 670px
}

.left_coloum {
    width: 450px
}

.single_left_coloum_wrapper {
    position: relative;
    margin-left: -10px;
    margin-bottom: 30px
}

.single_left_coloum_wrapper .title {
    margin-left: 10px
}

.title {
    border-bottom: 4px solid #CF0000;
    font-family: 'bebasregular';
    font-size: 20px;
    word-spacing: 2px
}

.more {
    background: url("images/plus.png") no-repeat scroll 57px 9px #CF0000;
    color: #FFF;
    display: block;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 10px
}


.single_left_coloum {
    margin-left: 10px;
    width: 143px
}











